/* Navbar */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.navbar a img {
  width: 150px;
  margin-top: -40px;
  margin-bottom: -25px;
  margin-right: 20px;
}

.navbar a span {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}

/* Table */
table {
  border-width: 2px !important; 
}

table tbody td{
  font-weight: 600; 
}

.fa-edit {
  color: #15b3ad;
  /* text-shadow: 1px 1px 1px #ccc; */
  font-size: 1.3em;
}

.fa-trash-alt {
  color: #f21f51;
  font-size: 1.3em;
  margin-right: 10px
}

/* utilities */
.tombol {
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  padding: 5px 20px 5px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); 
}

select:invalid {
  color: gray;
}

.modal-header button span {
  color: red;
}